<div>
	<div class="social-btn-container add-lr-pad-10">
		<a href="/auth/facebook" class="btn btn-facebook width-100p text-big"><span class="float-left"><i class="fab fa-facebook"></i></span> Sign Up With Facebook</a>
	</div>
	<div class="social-btn-container add-lr-pad-10">
		<a href="/auth/google" class="btn btn-google width-100p text-big"><span class="float-left"><i class="fab fa-google-plus-square"></i></span> Sign Up With Google</a>
	</div>
	<div class="text-center or">
		- OR -
	</div>
</div>
<div class="form-container pad-top-0 m-width-600">
	<%= form_for(User.new, method: :post, remote: true, url: url_for(controller: 'users', action: 'create')) do |f| %>
		<div id="error-msg-signup" class="text-left"><p></p></div>
		<div class="field-container marg-lr-0">
			<%= f.text_field :name, class: "form-control", placeholder: "Full Name" %>
		</div>
		<div class="field-container marg-lr-0">
			<%= f.email_field :email, class: "form-control", placeholder: "Email" %>
		</div>
		<div class="field-container marg-lr-0">
			<%= f.password_field :password, class: "form-control", placeholder: "Password" %>
		</div>
		<div class="field-container text-muted terms text-left marg-lr-0">By creating an account, you agree to our <a href="/legal-terms" target="_blank">Terms & Conditions</a>.</div>
		<div class="field-container marg-lr-0">
			<%= f.submit "Create Account", id:"account-submit-btn", class:"btn btn-main" %>
		</div>
		<div class="text-center">Already have an account? <a class="cursor-pointer" data-target="#login-carousel" data-slide-to="0">Log in</a>!</div>
	<% end %>
</div>