<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<%= render partial: "main_mailer/email_top" %>
				<div style="padding:10px">
					<h2 style="color:#333;margin-bottom:30px">You've Earned a New Badge!</h2>
					<p style="font-size:16px;color:#333">
						Hi <%= @user.name.split(" ")[0] %>,
					</p>
					<p style="font-size:16px;color:#333">
						Way to earn your fitness stripes! You have just earned the <%= @badge.badge_name %> Badge.
					</p>
					<div style="text-align: center; padding: 10px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; margin: 10px 0 40px 0;">
						<img alt="Homeward Fitness Badge" src="https://s3.us-east-2.amazonaws.com/homewardfitness/email_badges/<%= @badge.image_path %>.png" width="150px" height="150px"></img>
						<h1 style="color: #333; margin: 20px auto;"><%= @badge.badge_name %></h1>
						<p style="font-size:16px;color:#333; max-width: 500px; margin: auto;"><%= @badge.badge_description %></p>
					</div>
					<p style="font-size:16px;color:#333">Click the link below to view your profile page and your nifty badge collection.</p>
					<a style="color:#fff;background-color:#62adcc;border-color:#5ca4c1;border-radius:30px;padding:12px;font-size:18px;display:block;margin:30px auto;min-width:250px;width:70%;text-decoration:none;text-align:center;"
					href="<%= @email_domain %>/users/<%= @user.id %>#fitness-badges">View My Profile</a>
					<p style="font-size:16px;color:#333">Your fitness friend,</p>
					<p style="font-size:16px;color:#333">The Homeward Fitness Team</p>
				</div>
			</div>
			<%= render partial: "main_mailer/email_bottom", locals: {unsub: true, uid: @user.id, aid: @token_1, bid: @token_2, email_pref: 7} %>
		</div>
	</body>
</html>