<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<%= render partial: "main_mailer/email_top" %>
				<div style="padding:10px">
					<p style="font-size:16px;color:#333">
						Hi <%= @user.name.split(" ")[0] %>,
					</p>
					<p style="font-size:16px;color:#333">
						Awesome job! You finished <%= @user.rank.ordinalize %> overall on this week's Homeward Fitness Leaderboard. You deserve a round of applause and a shiny new trophy. Here's how this week's podium played out:
					</p>
					<div style="border-top: 1px solid #ddd; margin: 40px auto 50px auto">
						<table style="width:100%;border-collapse: collapse;border-spacing: 0;">
							<tbody>
								<% @top_performers.each do |t| %>
									<tr style="border-bottom: 1px solid #ccc;">
										<td style="background-color:#758eab;color:#fff;font-size:42px;width:50px;text-align:center;"><%= t.rank %></td>
										<td>
											<div style="font-size:18px;color:#333; padding: 5px;">
												<a href="<%= @email_domain %>/users/<%= t.user_id %>" style="text-decoration:none">
													<% unless t.image_path.last(4) == ".svg" %>
														<%= image_tag t.image_path, width:"48px", height:"48px", style:"margin-right:5px;border-radius:50%;vertical-align:middle;" %>
													<% else %>
														<div style="width: 48px;height: 48px;background-color: #5ca4c1;color: #fff;text-align: center;font-size: 28px;line-height: 48px;vertical-align: middle;display: inline-block;margin-right: 5px;border-radius: 50%;"><%= t.name[0,1].upcase %></div>
													<% end %>
												</a>
												<a href="<%= @email_domain %>/users/<%= t.user_id %>" style="text-decoration:none"><%= t.name %></a>
												<img alt="<%= t.rank.ordinalize %> Place Trophy" src="https://s3.us-east-2.amazonaws.com/homewardfitness/trophy_<%= t.rank %>.png" width="34px" height="34px" style="vertical-align:middle"></img>
											</div>
											<div style="background-color:#eef5f9;color:#333;font-size:16px">
												<div style="padding:5px;display:inline-block;"><span style="font-weight:bold">Points:</span> <%= number_with_delimiter(t.points) %></div>
												<div style="padding:5px;display:inline-block;"><span style="font-weight:bold">Time:</span> <%= total_time(t.seconds) %></div>
											</div>
										</td>
									</tr>
								<% end %>
							</tbody>
						</table>
					</div>

					<p style="font-size:16px;color:#333">Your fitness friend,</p>
					<p style="font-size:16px;color:#333">The Homeward Fitness Team</p>
				</div>
			</div>
			<%= render partial: "main_mailer/email_bottom", locals: {unsub: true, uid: @user.user_id, aid: @token_1, bid: @token_2, email_pref: 6} %>
		</div>
	</body>
</html>