<% content_for :title do %>
	<title>How It Works | Homeward Fitness</title>
<% end %>
<div class="nav-filler"></div>
<div class="white-bg">
	<div class="cool-bg text-center">
		<div class="cool-overlay">
			<div class="m-width-700 m-auto">
				<div class="cool-head">How It Works</div>
				<div class="cool-text">Homeward Fitness is here to make exercising more convenient, less costly, and more fun. Learn more about our community and see how we roll.</div>
			</div>
		</div>
	</div>
	<div class="info-page text-left">
		<h1><%= image_tag "lightbulb.svg" %>Our Master Plan</h1>
		<p>
		Homeward Fitness is an online fitness community that is designed to provide members with workout videos and classes that can be performed at home (or anywhere else) 
		and require minimal to no additional equipment.  Every week, we will post six new active workouts of varying exercises and difficulty, found on our <a href="/weekly-workouts">weekly workouts page</a>. 
		Members can complete any of these workouts and log results at any time and at any frequency. Members can also complete and log results for workouts from previous weeks, 
		though these results will not be applicable to our leaderboard or Homeward Fitness contests.
		</p>
		<p>
		Our workouts are created, filmed and delivered by our team of Homeward Fitness instructors. Thanks to our wide variety of workout videos and instructors, we can provide 
		fresh and unique workout videos each week. Each of our instructors and workout videos are properly vetted and must meet our standards in order to ensure we have 
		quality workouts from qualified instructors. You can view each instructor’s profile to learn more about him or her.
		</p>
		<p>We also encourage collaboration and socialization. Similarly to other social media networks, you can become virtual fitness friends through Homeward Fitness. We encourage you to
		invite your pals and push each other to become more healthy. Some friendly competition can go a long way!
		</p>
		<h1><%= image_tag "star.svg" %> Fitness Points</h1>
		<p>
			Homeward Fitness uses a points system to quickly and easily track workout results, aptly called ‘Fitness Points’. Other quantifiable workout metrics such as calories burned are 
			largely dependent on variable factors such as height, weight, metabolism and gender, and can be difficult to accurately gauge from person to person. Because of this, we’ve 
			decided to use Fitness Points as our universal standard to track workout results in a simple manner that everyone can relate to. 
		</p>
		<p>Fitness Points are based on how strenuous a 
			workout activity is, and how much energy you’re likely to expend doing that activity. For example, one push-up will equate to one Fitness Point earned. 
			While they have no “real-world” value outside of Homeward Fitness (not yet, anyway), Fitness Points are a great way to see how you and others are doing on your workouts. 
			And who knows! Maybe someday they’ll be their own form of digital currency…maybe.
		</p>
		<h1><%= image_tag "trophy.svg" %> The Leaderboard</h1>
		<p>
		The <a href="/leaderboard">Homeward Fitness Leaderboard</a> is a living, breathing catalog of the top Homeward Fitness performers for the week. Just like our weekly workouts, the Leaderboard also gets 
		refreshed at the start of each week. With our Leaderboard, you can quickly see who in the Homeward Fitness community has earned the most Fitness Points, who has 
		logged the most time working out, and who has had the best performance for each active workout that week. The more workouts you complete, the better off 
		you’ll be! An important caveat to note is that workout results are only applicable to the Leaderboard if the workout is an active weekly workout.
		</p>
		<h1><%= image_tag "crown.svg", class: "vatb" %> Fitness Contests</h1>
		<p>
		What better way to motivate yourself and your friends to exercise than a little friendly competition? Homeward Fitness lets you challenge your friends and colleagues with Fitness Contests. Our contests have a similar look
		and feel to our leaderboard, but you decide who the eligible participants should be, along with the start and end date of the contest. After the contest is over, a champion is crowned! The winner will be decided based on
		how many Fitness Points were accrued between the designated start and end dates of the contest. Only active workout results will be applicable to contest point totals.
		</p>
		<h1><%= image_tag "flowers.svg" %> Growth & Progress</h1>
		<p>We want to make it quick and easy for members to track their workout results and progress. We've added intuitive profile pages so each member can see their recent workouts 
		and visualize their historical exercise data. Similarly to how we want to help our members become healthier, stronger and more fit, we also want to make Homeward Fitness
		the best it can be. If you want to join our team as an instructor, have any ideas for our community, or just want to say hi, please don't hesitate to <a href="/contact-us">contact us</a>.
		You can also email us at <a href="mailto:support@homewardfitness.com">support@homewardfitness.com</a>. Thanks for reading, and have fun out there!
		</p>
	</div>
</div>